{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% if request.GET.tag %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for blogpage in blogpages %}

          <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">
              <div class="-my-8 divide-y-2 divide-gray-100">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                  <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-700">CATEGORY</span>
                    <span class="mt-1 text-gray-500 text-sm">Revised: {{ blogpage.latest_revision_created_at }}</span>
                    {% if blogpage.author %}
                      <p>By {{ blogpage.author.profile }}</p>
                    {% endif %}
                  </div>
                  <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h2>
                    <p class="leading-relaxed">{{ blogpage.intro }}</p>
                    <a href="{% pageurl blogpage %}" class="text-indigo-500 inline-flex items-center mt-4">Devamını okuyun
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>



    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}